node_modules
dist
dist-electron
out
.idea
.vscode
.DS_Store
coverage
*.log
*.sqlite
*.db
*.exe
*.blockmap
apps/desktop/resources/data
apps/desktop/.electron-vite
apps/desktop/out
apps/desktop/dist
apps/desktop/dist-release
apps/desktop/release
